@{
    ViewBag.Title = "Login";
    Layout = "_RootLayout";
}

<div class="container body-content">

    <h1>Přihlásit</h1>

    <p>
        Pro přístup do aplikace se musíte autorizovat pomocí <strong>IS</strong>u.
    </p>

    <a href="@Url.Action("OAuth")" class="btn btn-success"><span class="glyphicon glyphicon-lock"></span> Přihlísit ISem</a>

</div>