@using System.Security.Claims
@{
    Layout = "_RootLayout";
}

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand"><span class="glyphicon glyphicon-camera"></span> OKO</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Archiv</a></li>
                @if (User.IsInRole("admin"))
                {
                    <li><a asp-area="" asp-controller="Camera" asp-action="List">Kamery</a></li>
                    <li><a asp-area="" asp-controller="Acl" asp-action="Index">ACL</a></li>
                }
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a asp-controller="Account" asp-action="UserInfo">@User.FindFirst(ClaimTypes.GivenName).Value</a></li>
                <li><a asp-area="" asp-controller="Account" asp-action="Logout">Odhlásit</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container body-content">
    @RenderBody()
    <hr />
    <footer>
        <p>&copy; 2017 - Oko</p>
    </footer>
</div>
